.menu{
    padding:40px;
    .main-menu{
        display: flex;

        .menu-list{
            width: 25%;
            max-width:400px;
            background-color:rgb(60, 80, 73);
        }
        .menu-items{
            margin: 100px auto ;
            padding:10px;
            display:grid;       
            
        }
    }
}