.item-card{
    height: 200px;width: 300px;background-color: rgb(104, 92, 78);
    display: flex;
    .card-img{
        width:50%;
        background-color:rgb(13, 35, 54);
    }
    .card-description{
        background-color:rgb(13, 54, 45);
        width: 50%;

    }
}